.heading1 {font-size: 24pt; color:coral; font-family: sans-serif}

.heading3 {font-family: sans-serif; font-size: 14pt; color:#3366cc}

/*style size, position, font of block*/
    blockquote {font-size: 18pt; font-family: cursive; color: #3366cc; text-align: center; font-weight: bold; background-color: peachpuff}
 
/*Makes paragraphs and lists 14pt size and dark blue*/
    p, li {font-size: 14pt;  color: #003366;}


/*indent intro para to give space*/
    .intro {margin-left: 200px}

/*indent experience overview para.*/
    #experience {margin-left: 25px}

/*format footer*/
    #footer {font-size: 10pt}

    a:link {color:blue;}
    a:visited {color:orange;}
    a:hover {color:red;}
    a:focus {color:blueviolet;}
    a:active {color:green;}

    a {text-decoration: none; font-size: 10pt; font-family: sans-serif} 

img {float: left}

main li:last-child {color:coral; text-decoration: underline}

